@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.listHeader {
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    padding: 0 20px 0 10px;
    font-family: 'Cafe24Ssurround';
    border-bottom: 1px solid rgb(157, 157, 157);
    justify-content: space-between;
    p {
        margin-left: 10px;
        color: rgb(157, 157, 157);
        font-size: 22px;
    }
    >div{
        display: flex;
        align-items: center;
        &:nth-child(2){
            position: absolute;
            left: 50px;
        }
    }
    button {
        background-color: white;
        border: none;
        margin-left: 10px;
    }
   
}

.itemList {
    width: 100%;

    li {
        padding-left: 10px;
        display: flex;
        height: 120px;
        align-items: center;
        border-bottom: 1px solid rgb(157, 157, 157);
        position: relative;

        .product {
            margin-right: 20px;
            height: 80px;
            width: 80px;
            border-radius: 20px;
        }

        div {
            display: flex;
            flex-direction: column;
            font-family: 'Dovemayo_gothic';

            p {
                margin: 4px 0;

                &:nth-child(2) {
                    color: rgb(157, 157, 157);
                    font-size: 14px;
                }
            }
        }

        .likeItem {
            position: absolute;
            right: 30px;
            bottom: 25px;
            width: 60px;
            height: 20px;
            display: flex;
            z-index: 999;
            cursor: pointer;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            img {
                margin-right: 0;
                width: 20px;
            }

            p {
                width: 20px;
            }
        }
    }
}

.SearchConBox {
    width: 100%;
    position: relative;
    display: flex;
    .SearchCon {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: left;
        padding-left: 10px;
        align-items: center;
       
        input[type="search"] {
            height: 45px;
            width: 90%;
            border: 1px solid rgb(143, 143, 143);
            border-radius: 8px;
            padding: 0 15px;
            font-family: 'Dovemayo_gothic';
            background-color: transparent;
            font-size: 16px;
            color: black;
            outline: none;
        }
        .closeBtn {
            background-color: transparent;
            width: 8%;
            border: none;
            opacity: 0.55;
        } 
    }
}
